h1 { font-family: Verdana, Arial, sans-serif; 
	 font-size: 2em; 
	 color: maroon; 
	 background-color: transparent 
}



h1 { font-family: Verdana, Arial, sans-serif; 
	 font-size: 2em; 
	 color: maroon; 
	 background-color: transparent 
}



h1 { font-family: Verdana, Arial, sans-serif; 
	 font-size: 2em; 
	 color: maroon; 
	 background-color: transparent 
}


p { font-family: Verdana, Arial, sans-serif; 
	font-size: 80%; 
	color:olive; 
	background-color: transparent 
}
p { font-family: Verdana, Arial, sans-serif; 
	font-size: 80%; 
	color:olive; 
	background-color: transparent 
}
p { font-family: Verdana, Arial, sans-serif; 
	font-size: 80%; 
	color:olive; 
	background-color: transparent 
}


body {background: url(./images/chimney.gif);}
