@charset "utf-8";
body {
	background-color: #69F;
	font-family: Verdana, Geneva, sans-serif;
}
#bigdiv {
	position:absolute;
	left:380px;
	top:170px;
	width:569px;
	height:425px;
	z-index:1;
	background-color: #999999;
}
#inside {
	position:absolute;
	left:-361px;
	top:-153px;
	width:250px;
	height:250px;
	z-index:2;
	background-color: #000000;
	color: #ffffff;
}
